<h1>Login for fun!</h1>
<form action='/users/logout' method="GET">
    <button type="submit">Log out</button>
</form>
<form action='users/login' method="GET">
    <button type="submit">Login</button>
</form>
<form action='users/register' method="GET">
    <button type="submit">Register</button>
</form>